aside {
  width: 15%;
  height: 2000px;
  background: rgb(221, 143, 25);
}

.containerMain{
    width: 100%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.containerMain h4{
    
    width: 100%;
}

.coordonnees{
    position: relative;
    right: 15%;
}

.coordonnees ul li{
  list-style: none;
}

h3,h4{
    font-family: 'Times New Roman', Times, serif;
}

body{
  width: 150%;
}

header{
  width: 100%;
}

img{
    border-radius: 50%;
}

.jumbotron {
  background-image: url("/img/code.jpg");
  width: 100%;
  height: 150px;
}

li {
  font-family: monospace;
}

.logo{
    display: flex;
    justify-content: flex-end;
}

main{
    position: absolute;
    left:250px;
}

nav{
    font-family: monospace;
}

.photo {
  background: bisque;
  position: relative;
  top: -110px;
  border: solid 1px bisque;
  border-radius: 15px;
  box-shadow: 2px 2px 2px;
}

table{
    width: 100%;  
}

td{
    width: 25%;
}

@media screen and (max-width: 767px) {
    main{
        width: 70px;
        position: relative;
        left: 200px;
    }
    .container{
        width:10%;
        height: auto;
        position: absolute;
        top:100px;
    }
    /*aside{
        width:10%;
        height: auto;
        top:100px;
        
    }*/

    .dashboard{
      background-color: #DD8F19;
      position: absolute;
      top:500px;
      border : 1px solid black;
      border-radius: 5px 5px 5px 5px;
      padding-left: 5px;
      height: auto;
      width: 163px;
      
    }

    .identite{
        width:50%;
    }

    .coordonnees{
      border : 1px solid black;
      border-radius: 5px 5px 5px 5px;
      padding-left: 5px;
      margin-left: 30px;
      width:163px;
      height: 4000px;
      background-color:orange;
    }

    .photo{
        position: relative;
        top:10px;
        left: 1%;
        width: 60%;
        height:60%;
    }
    .photo img{
        width:80%;
        height: auto;
    }
    
}

@media (min-width: 767px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {

}

/*---------effet li ------------*/
ul > li {
    opacity: 0;
  }
  ul > li:nth-child(1) {
    animation-name: testanim;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  ul > li:nth-child(2) {
    animation-name: testanim;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  ul > li:nth-child(3) {
    animation-name: testanim;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes testanim {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*-----------photo fadeInLeft---------------*/
  @-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.photo {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}
@-webkit-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}

  
 