.jumbotron {
  background-image: url("/img/code.jpg");
  width: 100%;
  height: 150px;
}

.card {
  width: 277px;
  margin: 5px;
}

nav {
  font-family: monospace;
}
/*---------effet li ------------*/
ul > li {
  opacity: 0;
}
ul > li:nth-child(1) {
  animation-name: testanim;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
ul > li:nth-child(2) {
  animation-name: testanim;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
ul > li:nth-child(3) {
  animation-name: testanim;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes testanim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*----------animation carte------------*/

.card {
    opacity: 0;
  }
  .card:nth-child(1) {
    animation-name: testanim;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .card:nth-child(2) {
    animation-name: testanim;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .card:nth-child(3) {
    animation-name: testanim;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes testanim {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


/*----------media queries----------------*/

@media screen and (max-width: 767px) {
  .card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}

